/* Here is the style for the header */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
    justify-content: space-between;
}

.header-logo {
    padding-left: 100px;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    padding-right: 100px;
}

.link {
    padding: 5px 10px 0px 10px;
}

/* Here starts blue section */

.blue-section {
    display: flex;
    padding: 45px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-subtext {
    color:#F9FAF8;
}

.hero-section {
    flex: 1;
    padding: 25px;
    margin: 50px 25px 50px 50px;
}

.image {
    background-color: grey;
    color: white;
    padding: 80px 50px 80px 50px;
    flex: 1;
    margin: 50px 85px 50px 50px;
    text-align: center;
}

.button-signup {
    color:#F9FAF8;
    font-weight: bolder;
    padding: 10px;
    background-color: #3882F6;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

/* Here starts the white section */

.white-section {
    padding: 45px;
}

.random-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 25px;
}

.four-sections {
    display: flex;
    justify-content: center;
}

.section {
    width: 150px;
    margin: 15px;
}

.box {
    width: 130px;
    height: 130px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 10px;
}

.text-box {
    margin-top: 10px;
    text-align: center;
}